import "primeicons/primeicons.css";

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 28px;
}
.chart {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 30px;
  background: white;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

h3 {
  margin: 0;
  font-size: 20px;
}


.charts-container{
  display: flex;
  gap:20px;
  width:100%
}
.charts-container > * {
  flex: 1;
}

.chart-title{
  text-align: left;
}

.excel-button{
 display: flex;
  justify-content: flex-end;
}


.layout {
    display: flex;
     margin-top: 70px;   /* Same as header height */
    height: calc(100vh - 70px);
    height: 100vh;
    overflow: hidden;
}

.content {
    margin-left: 100px;                 /* Sidebar width */
    width: calc(100% - 100px);

    height: calc(100vh - 70px);

    overflow-y: auto;

    padding: 25px;
   
}
.sidebar {
    width: 100px;
    height: calc(100vh - 70px);

    position: fixed;
    top: 70px;
    left: 0; 

  overflow: visible;
}

/* Logo */
.logo {
    width: 100%;
    background: #2563eb;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px 0;
     border-radius: 0;   
}

.logo h2 {
    margin: 12px 0 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

